.cardIcon {
  width: 1000px;
  height: 2000px;
}

.cardIconContainer {
  display: flex;
  margin: auto;
  position: relative;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 11ch;
  }
}

.typingText {
  border-right: 2px solid;
  overflow: hidden;
  white-space: nowrap;
  animation: 0.75s blink step-end infinite, 1s typing steps(11) forwards;
}
