.projectsContainer {
  max-width: 600px;
  color: var(--text-color);
  margin: 0 auto;
  padding: 3em 1.5em;
  font-family: "Poppins", sans-serif;
}

.tetrisGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
