:root {
  /* Light mode variables (default) */
  background-color: #f9f7f4;
  --text-color: black;
  --icon-color: black;
}

.dark {
  /* Dark mode variables (override) */
  background-color: #333333;
  --text-color: white;
  --icon-color: white;
}
